.product-container{
    height: 70px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.product-label{
    padding: 0 0 10px 5px;
    font-size: 45px;
}