html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  
}
pre{
  margin: 0;
}


*::-webkit-scrollbar{
  background-color: #2d323a;
  width: 10px;
}
*::-webkit-scrollbar-thumb{
  background-color: rgba(202, 202, 202, 0.582) ; 
  width: 10px;
  border-radius: 3px;
}
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
	supported by Chrome and Opera */
}
