html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.conversation {
  flex: 5;
  padding: 30px 50px ;
}
